@media only screen and (min-width: 64rem) {

    main figure {
    width: 600px;
    }

    header{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .logo img {
        width: 130px;
    }

    .slang {
        margin-left: 140px;
        margin-top: -55px;
        font-size: 16px;
    }

    .date {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        color: #ffffff;
        border: solid #4a4a6bc9;
        background-color: #4a4a6bc9;
        text-align: center;
        margin-right: 300px;
    }

    .social {
        grid-column: 20 / 20;
        grid-row: 1 / 2;
    }


    .social img {
        width: 30px;
        
    }

    
    li {
        list-style-type: none;
    }

    nav ul {
        display: flex;
        margin: 3px;
        padding: 0px;
        justify-content: center;
        flex-direction: column;
    }
    nav ul li {
        padding: 15px;
        flex: 1 1 auto; /* nav buttons span full width*/
    }
    nav ul li a {
        padding: 15px;
        font-size: 16px;
        color: #ffffff;
    }
    nav a:hover {
        color: #ffffff;
    }

    .navigation {
        background-color: #767679c9;
        height: 23px;
    }
    
    div .action {
        position: absolute;
        justify-self: center;
        margin-top: 50px;
        background-color: rgba(103, 105, 113, 0.874);
        box-shadow:0 0 30px rgb(79, 78, 78);
        border-radius: 8px;
        margin: 1em 3em;
        padding: 1em;
        text-align: center;
        
    }
    
    .action button {
        width: 100px;
        line-height: -50px;
       
        background-color: #6a68824e;
        font-size: 1.2em;
    }
    


    nav button {
        display: none;
    }

    

    
}