@media only screen and (min-width: 760px) {
    nav ul {display: flex;}
    nav ul li {flex-basis: 25%;}

    main figure {
        float: right;
        width: 48%;
        margin-left: 2%;
    }

    div.news {
        clear: both;
        column-count: 2;
        column-rule: 1px solid #ddd;
    }
  
    footer {
        text-align: center;
        padding: 1rem 2%;
        background-color: aquamarine;

    }

} /* end of a media query */