/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- HEADER --------------*/
header {
    padding: .5rem 1%;
    background-color: #ddd;
    display: grid;
    width: 100%;
    grid-template-columns: 125px auto;
}


header nav main footer {
    max-width: 960px;
}

header div {
    margin-left: 5px;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

header img{
    width: 130px;
}


header{
    grid-template-columns: 1fr 1fr 1fr;
}

.content {
    display: grid;
    grid-template-columns: 1fr; 
    margin: 20px auto;
}

[data-src] {
    min-width: 50px;
    min-height: 50px;
}

main picture img {
    width: 400px;
    height: 300px;
    padding: 1em;
    margin: auto;
}



.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.logo img {
    width: 42px;
}

.slang {
   font-size: 7px;
   margin-left: 45px;
   margin-top: -47px;
   ;
}

.date {
    text-align: center;
    color: #160d0d;
    margin-top: 70px;
    
    
    
}

.social {
    grid-column: 3 / 3;
    grid-row: 1 / 2;
    overflow: hidden;
}

.social img{
    width: 100px;
}


.social img {
    width: 50px;
    
}

main figure img {width: 100%;}
main figure {
    width: 100%;
    margin: 0;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #010d22d4;	
    text-align: center;
}

li {
    list-style-type: none;
}

nav ul {
    display: flex;
    margin: 15px;
    padding: 0px;
    justify-content: center;
    flex-direction: column;
}
nav ul li {
    padding: 15px;
    flex: 1 1 auto; /* nav buttons span full width*/
}
nav ul li a {
    padding: 15px;
    font-size: 16px;
    color: #ffffff;
}
nav a:hover {
    color: #42475d;
}

.navigation {
    background-color: #767679c9;
    height: 23px;
} 

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color: white;
}

nav ul li a{
    display: block;
}

nav ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul {
    padding: 0;
    margin: 0;
  }

nav ul.navigation{
    display: flex;
}





li {
    list-style-type: none;
}

nav ul {
    display: flex;
    margin: 3px;
    padding: 0px;
    justify-content: center;
    flex-direction: column;
}
nav ul li {
    padding: 15px;
    flex: 1 1 auto; /* nav buttons span full width*/
}
nav ul li a {
    padding: 15px;
    font-size: 16px;
    color: #ffffff;
}
nav a:hover {
    color: #ffffff;
}

.navigation {
    background-color: #C4D1F5;
    height: 23px;
}

nav ul li.active a {
    background-color: rgba(174, 176, 180, 0.475);
    color: #fff;
}




main div {
    display: grid;
}

main {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
    font-family: 'Alegreya Sans', sans-serif;
}

.page_name {
    margin: 0;
}

.hero {
    width: 205%;
}

.event {
    padding: 1rem;
    border: 1px solid black;
    grid-column: 1 / 3;
    grid-row: 13 / 15;
    
}

.weather {
    padding: 1rem;
    border: 1px solid black;
    grid-column: 1 / 3;
    grid-row: 15 / 17;
}

.image {
    padding: 1rem;
    border: 1px solid black;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}



.sp1 {
    padding: 1rem;
    border: 1px solid black;
    grid-column: 1 / 3;
    grid-row: 7 / 9;
}

.sp2 {
    padding: 1rem;
    border: 1px solid black;
    grid-column: 1 / 3;
    grid-row: 9 / 11;
}

.join {
    padding: 1rem;
    border: 1px solid black;
    grid-column: 1 / 3;
    grid-row: 11 / 13;
}

.release {
    padding: 1rem;
    border: 1px solid black;
    grid-column: 1 / 3;
    grid-row: 5 / 7;
}

footer{
    background-color: #ddd;
    padding: 5px;
}

footer img{
    width: 60px;
}

.reference{
    text-align: center;
}

.contact {
    margin-left: 1150px;
    margin-top: -128px;
}



