@media only screen and (min-width: 32.5em) {

    nav ul {
        flex-flow: row wrap;
    }

    .social {
        margin-left: 130px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    

    
}